@{
    ViewData["Title"] = "Searching for person";
}
<h2>What kind of information do you know about this person?</h2>
<div class="row"></div>
<div class="col-md-10"> 
    <a class="btn btn-primary" asp-controller="Home" asp-action="SelectById">Id</a>
    <a class="btn btn-primary" asp-controller="Home" asp-action="SelectByFIO">FIO</a>
</div>


